@model estudo.Models.cadastAlunos

@{
    ViewBag.Title = "Details";
}

<h2>Ficha do Aluno</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayName("Data de Nascimento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataNasc)
        </dd>

        <dt>
            @Html.DisplayName("RG")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RG)
        </dd>

        <dt>
            @Html.DisplayName("RA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RA)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })|
   @Html.ActionLink("Voltar", "Index", new { id = "" }, new { @class = "btn btn-default" })
</p>
